<h3>Olá, {{name}}</h3>
<p>
  <strong>{{name_inscription}}</strong> se inscreveu no seu Meetup, 
  de nome <strong>{{meetup}}</strong>.
</p>
<p>
  Estamos muito felizes por seu evento ter visibilidade, 
  para aumentar o numero de inscritos compartilhe nas redes sociais.
</p>