<h3>Olá, {{name}}</h3>
<p>Você acaba de se inscrever no Meetup <strong>{{meetup}}</strong>.</p>
<p>
  Fique atento as informações do evento:
  <br/>
  Data: <strong>{{date}}</strong>
  Local: <strong>{{localization}}</strong>
</p>